// @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import 'imports.scss';
// @import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

html{
	font-family: 'Lato', sans-serif;
	background-color: $light-gray;
	padding: 2%;
}

body{
	padding: 5% 2% 5% 2%;
	background-color: white;
	border: 1px solid $border-gray;
	border-bottom: 3px solid $border-bottom;
	border-radius: 4px;
	color: #333;
}

article, aside{
	display: inline-block;
	vertical-align: top;
}

article{
	width: 70%;
	margin-right: 5%;
}
aside{
	width: 20%;
}


h1,h2,h3,h4{

	margin-bottom: .5em;
}

h1{
	font-family: 'Abril Fatface', cursive;
	font-size: 10em;
	font-weight: 900;		
}

h2{
	font-size: 1em;
	font-weight: 300;
}

h3{
	font-size: 1.5em;
	font-weight: 700;	
}

h4{
	font-size: 2em;
	font-weight: 700;
}

p{
	font-size: 18px;
	line-height: 1.5em;
	margin-bottom: 1em;
	font-weight: 300;
}
code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #bd4147;
  line-height: 2em;
  background-color: #f9f2f4;
  border-radius: .25rem; }

ul{
	margin-bottom: 1em;
	li{
		font-weight: 300;
	}
}

img{
	width: 100%;
}
a{
	color: $Jamesblue;
	text-decoration: none;
}

.intro, .data, .map, .info {
	height: 200px;
	margin-bottom: 2em;
}

.intro{
	background-color: purple;
}

#data{
	width: 100%;
	height: 100%;
	min-height: 500px;
}

.map{
	background-color: green;
}

.info{
	background-color: red;
}
.sankey{
	
}


// small
@media (min-width: $sm-min){
	

}

// medium
@media (min-width: $md-min){
	
	
}

// xs small
@media (min-width: $lg-min){
	
}


