// @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import 'imports.scss';
// @import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:300,400,700,900');
html{
	font-family: 'Lato', sans-serif;
	background-color: $light-gray;
	padding: 2%;
}

body{
	padding: 4% 2% 4% 2%;
	background-color: white;
	border: 1px solid $border-gray;
	border-bottom: 3px solid $border-bottom;
	border-radius: 4px;
	color: #333;
	// text-align: center;
}

// body section{
// 	margin-bottom: 10em;
// 	background-color: red;
// }
// body:last-child{
// 	margin-bottom: 0em;
// }



#intro, #data, #map, #info {
	// margin-bottom: 2em;
	display: inline-block;
	height: 100vh;
	// vertical-align: top;
}
#intro{
	// text-align: center;
	h1{
		margin-bottom: 1em;
	}
}

#intro-text{
	display: inline-block;
	text-align: left;
	width: 50%;

	vertical-align: center;
	margin-right: 5%;
	// float: right;
}


#map{
	display: inline-block;
	width: 40%;
	height: 60vh;
	vertical-align: center;
	border-radius: 50%; 
  	// position: relative; 
  	z-index: 500;

  	// float: left;
	//   -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	// -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
	// box-shadow: 0px 2px 25px rgba(0,0,0,.25);
}

#reset_zoom{
	color: white;
}

#donut{
	width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: top;

  #donut-charts {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 800px;  
    padding-bottom: 3%; /* aspect ratio */
    vertical-align: middle;
    overflow: hidden;
    margin-right: 5%;
	}

	#donut-text{
		width: 40%;
		display: inline-block;
		position: relative;
		vertical-align: middle;
	}
}





  .svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}





#info{
	
}

#people, #countries{
	display: flex;
	justify-content: space-between;
}

.person, .country{
	// display: inline-block;
	// margin-right: 5%;
	width: 30%;
	h6{
		margin-bottom: 2em;
	}
	h3{
		font-weight: 300;
		line-height: 1.25em;
    	// margin-bottom: .5em;
	}
}

.country{
	margin-bottom: 5em;
}

// small
@media (min-width: $sm-min){
	
#intro{
	
	
}


}

// medium
@media (min-width: $md-min){
	
	
}

// xs small
@media (min-width: $lg-min){
	
}


.textLabelclass{
	white-space:nowrap;
	text-shadow: 0 0 0.1em black, 0 0 0.1em black, 0 0 0.1em black,0 0 0.1em black,0 0 0.1em;
	color: white;
	font-size: 30px;
	
}	

#refugeeMap{
	height: 500px;
}

// Squareroots
.iran-data{
	width: 989.69px / 10px * 1px;
	height: 989.69px / 10px * 1px;
	background-color: red;
}
.sudan-data{
	width: 1933.90px / 10px * 1px;
	height: 1933.90px / 10px * 1px;
	background-color: red;

}
.mymar-data{
	width: 1187.43px / 10px * 1px;
	height: 1187.43px / 10px * 1px;
	background-color: red;

}

// .iran-data{
// 	height: 979491px / 10000px * 1px;
// 	width: 50px;
// 	background-color: red;
// }
// .sudan-data{
// 	height: 374000{0px / 10000px * 1px;
// 	width: 50px;
// 	background-color: red;

// }
// .mymar-data{
// 	height: 1410000px / 10000px * 1px;
// 	width: 50px;
// 	background-color: red;

// }
.annotation > path{
	stroke: #2a2a2a;
	stroke-width: 2px;
	stroke-dasharray: 5;
	fill: none;
} 

.annotation >text{
	text-align: left;
	text-anchor: start;
}
